<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO(mat): perhaps we can load GitLab CSS in here -->
    <title>{{ .title }}</title>
  </head>
  <body>
	  <h1>{{ .title }}</h1>
      <br/>
      <h3>{{ .message }}</h3>
</body>